doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Descart
		link(rel='stylesheet', href='public/vendor/css/bootstrap.css')
		link(rel='stylesheet', href='public/vendor/css/bootstrap-theme.css')
		script(charset='UTF-8', type='application/javascript', src='public/vendor/js/jquery.min.js')
		script(charset='UTF-8', type='application/javascript', src='public/vendor/js/bootstrap.js')
		script(charset='UTF-8', type='application/javascript', src='public/vendor/js/d3.v3.js')
		script(charset='UTF-8', type='application/javascript', src='public/vendor/js/interact.js')
		script(charset='UTF-8', type='application/javascript', src='public/vendor/js/simplify.js')
	body#body
		.container
			.row
				.col-md-3
					#tipX Задайте начало отсчета по X
					.input-group
						span.input-group-addon Начало отсчета по оси X
						input#originX.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')
					#tipY Задайте начало отсчета по Y
					.input-group
						span.input-group-addon Начало отсчета по оси Y
						input#originY.form-control(type='text', placeholder='Username', aria-describedby='basic-addon1')
					.input-group
						span.input-group-addon Загрузите график
						input#fileInput.form-control(name='files', type='file', placeholder='Username', aria-describedby='basic-addon1')
				.col-md-3
					button.btn.btn-default.btn-block(onclick='fasten(this.name)', name='descart') Зафиксировать систему координат
					button.btn.btn-default.btn-block(onclick='fasten(this.name)', name='graph') Зафиксировать график
					button.btn.btn-default.btn-block(onclick='trumen = !trumen', name='graph') Рисовать точки
				.col-md-3
					button.btn.btn-default.btn-block(onclick='new MarkX()') Добавить отметку X
					#inputX
				.col-md-3
					button.btn.btn-default.btn-block(onclick='new MarkY()') Добавить отметку Y
					#inputY
		.btn-group(role='group')
			button(onclick='new Point()') Добавить точку
			button(onclick='rush()') RUSh
			button(onclick='renderGraph()') Построить график
			button(onclick='increaseCanvas()') Увеличить область построения
			button(onclick='test()') TEST
			button(onclick='test2()') TEST2
		#csv
		link(rel='stylesheet', href='public/css/descart.css')
		script(charset='UTF-8', type='application/javascript', src='public/js/all.js')
